.chapter {
    position: relative;

    .inner {
        @include inner;

        .nav {
            display: flex;
            justify-content: space-between;
            padding-top: 77px;

            .left-nav {
                @include centrecontent;

                .logo {
                    margin-right: 80px;
                }

                .link {
                    &:first-of-type {
                        padding-right: 18px;
                    }
                }
            }

            .right-nav {}
        }

        .content {
            @include centrecontent;

            .left,
            .right {
                width: 50%;
            }

            .left {
                width: 100%;
            }

            .right {
                width: 100%;
            }
        }
    }
}


.chapter1 {
    background-color: $dark-green;
    overflow: hidden;

    &:after {
        content: "";
        background-image: url("../assets/images/chapter-one/bg-pattern-home-3.svg");
        position: absolute;
        right: -100px;
        top: 50%;
        width: 200px;
        height: 250px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .inner {
        padding: 64px 0;

        .content {
            padding-top: 140px;
            align-items: flex-start;

            .left {
                &:before {
                    position: relative;
                    content: "";
                    display: block;
                    width: 50px;
                    height: 4px;
                    background: $pink 0% 0% no-repeat padding-box;
                }

                h2 {
                    padding-top: 58px;
                }

            }

            .right {
                .row {
                    padding-bottom: 22px;

                    .content {
                        display: flex;
                        padding-top: 0;

                        .icon {
                            padding-right: 14px;
                        }

                        .text {
                            h6 {}
                        }
                    }
                }
            }
        }
    }
}


.chapter2 {
    &::before {
        content: "";
        background-image: url("../assets/images/chapter-two/bg-pattern-home-4-about-3.svg");
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 250px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .inner {
        .content {
            padding: 140px 32px;
            flex-direction: column;

            h2 {
                text-align: center;
            }

            .testimonials {
                display: flex;
                margin-top: 92px;

                .testimonial {
                    padding-right: 32px;
                    text-align: center;
                    background-image: url("../assets/images/chapter-two/icon-quotes.svg");
                    background-repeat: no-repeat;
                    background-position: center top;

                    .quote {
                        padding-bottom: 12px;
                    }

                    .source {
                        padding-bottom: 22px;

                        p {
                            margin: 0;
                        }

                        .author {
                            color: $extra-light-green;
                        }

                        .title {}

                    }

                    .icon {
                        img {
                            width: 62px;
                            border-radius: 50%;
                            border: 2px solid $light-blue;
                        }
                    }
                }
            }
        }
    }
}

.chapter3 {
    background-color: $pink;
    overflow: hidden;

    &::before {
        content: "";
        background-image: url("../assets/images/chapter-three/bg-pattern-home-6-about-5.svg");
        position: absolute;
        left: 0;
        top: 45px;
        width: 200px;
        height: 140px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .inner {
        .content {
            padding: 84px 0;
            justify-content: space-around;
            a {
                .btn {
                    border: 2px solid $dark-green;
                    color: $dark-green;
                }
            }
        }
    }
}


footer {
    background-color: $dark-green;
    .inner {
        @include inner;
        .content {
            padding: 64px 0;
            @include centrecontent;
            .nav {
                .links {
                    padding-top: 22px;
                    a {
                        &:first-of-type {
                            padding-right: 22px;   
                        }
                    }
                }
            }
            .address {
                p {
                    margin: 0;
                }

            }
            .socials {
                
                a {
                    padding-right: 12px;
                }
                .copyright {
                    padding-top: 22px;
                }

            }


        }
    }
}