.chapter {
    position: relative;
    overflow: hidden;

    .inner {
        @include inner;
        padding: 70px 0;

        @include md {
            padding: 30px 0;
        }

        .nav {
            display: flex;
            justify-content: space-between;
            padding-top: 77px;

            @include md {
                padding-top: 32px;
            }

            .left-nav {
                @include centrecontent;
                flex-direction: row !important;

                .logo {
                    margin-right: 80px;
                }

                .link {
                    &:first-of-type {
                        padding-right: 18px;
                    }
                }
            }
        }

        .content {
            @include centrecontent;

            .left,
            .right {
                width: 50%;
            }

            .left {
                width: 100%;
            }

            .right {
                width: 100%;
            }


            .quote {
                padding-bottom: 12px;
            }

            .source {
                padding-bottom: 22px;

                p {
                    margin: 0;
                    text-align: center;
                }

                .author {
                    color: $extra-light-green;
                    text-align: center;
                }
            }

            .icon {
                img {
                    width: 62px;
                    border-radius: 50%;
                }
            }
        }
    }
}


.chapter1 {
    background-color: $dark-green;

    &:after {
        content: "";
        background-image: url("../assets/images/chapter-one/bg-pattern-home-3.svg");
        position: absolute;
        right: -100px;
        top: 50%;
        width: 200px;
        height: 250px;
        background-repeat: no-repeat;
        overflow: hidden;

        @include md {
            top: 0;
        }
    }

    .inner {
        .content {
            padding-top: 140px;
            align-items: flex-start;

            @include md {
                padding: 80px 0;
            }

            .left {
                &:before {
                    position: relative;
                    content: "";
                    display: block;
                    width: 50px;
                    height: 4px;
                    background: $pink 0% 0% no-repeat padding-box;

                    @include md {
                        left: 60px;
                    }
                }

                h2 {
                    padding-top: 58px;

                    @include md {
                        text-align: left;
                        width: 70%;
                    }
                }

            }

            .right {
                @include md {
                    margin-top: 52px;
                }

                .row {
                    padding-bottom: 32px;

                    .content {
                        display: flex;
                        padding: 0;

                        @include md {
                            flex-direction: row;
                        }

                        .icon {
                            padding-right: 14px;
                            border: none;
                        }

                        .text {
                            h6 {
                                @include md {
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.chapter2 {
    &::before {
        content: "";
        background-image: url("../assets/images/chapter-two/bg-pattern-home-4-about-3.svg");
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        height: 250px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    &:after {
        content: "";
        background-image: url("../assets/images/chapter-two/bg-pattern-home-5.svg");
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 100px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .inner {
        .content {
            padding: 140px 32px;
            flex-direction: column;

            h2 {
                text-align: center;
            }

            .testimonials {
                display: flex;
                margin-top: 92px;

                @include md {
                    flex-direction: column;
                    margin-top: 56px;
                }

                .testimonial {
                    padding-right: 32px;
                    text-align: center;
                    background-image: url("../assets/images/chapter-two/icon-quotes.svg");
                    background-repeat: no-repeat;
                    background-position: center top;

                    @include md {
                        padding: 0;
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }
}

.cta {
    background-color: $pink;
    overflow: hidden;

    &::before {
        content: "";
        background-image: url("../assets/images/chapter-three/bg-pattern-home-6-about-5.svg");
        position: absolute;
        left: 0;
        bottom: 0;
        width: 200px;
        height: 140px;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .inner {
        padding: 0;
        @include md {
            padding: 32px 0;
        }

        .content {
            padding: 84px 0;
            justify-content: space-around;
            @include md {
                flex-direction: row;
                padding: 72px 0;
            }

            a {
                .btn {
                    border: 2px solid $dark-green;
                    color: $dark-green;
                }
            }
        }
    }
}

footer {
    background-color: $dark-green;

    .inner {
        @include inner;

        .content {
            padding: 64px 0;
            @include centrecontent;

            .nav {
                .links {
                    padding-top: 22px;

                    a {
                        &:first-of-type {
                            padding-right: 22px;
                        }
                    }
                }
            }

            .address {
                p {
                    margin: 0;
                }

            }

            .socials {

                a {
                    padding-right: 12px;
                }

                .copyright {
                    padding-top: 22px;
                }
            }
        }
    }
}