.contact {
    &:before {
        content: "";
        background-image: url("../assets/images/contact/bg-pattern-about-2-contact-1.svg");
        position: absolute;
        left: -120px;
        top: 40%;
        background-repeat: no-repeat;
        height: 210px;
        width: 220px;
        @include md {
            top: 20%;
        }
        @include sm {
            display: none;
        }
    }

    &:after {
        content: "";
        background-image: url("../assets/images/contact/bg-pattern-contact-2.svg");
        position: absolute;
        right: -9%;
        top: 80%;
        background-repeat: no-repeat;
        height: 210px;
        width: 220px;
        @include md {
            top: 87%;
        }
    }

    .inner {
        .content {
            padding-top: 120px;
            @include sm {
                padding-top: 60px;
            }

            .left {
                h1 {
                    padding-bottom: 16px;
                    @include sm {
                        padding-bottom: 8px;
                    }
                }

                h2 {
                    margin-bottom: 32px;
                }

                .row {
                    .content {
                        padding-top: 16px;
                        justify-content: flex-start;
                        @include md {
                            flex-direction: row;
                            justify-content: start;
                            max-width: 70%;
                            margin: 0 auto;
                        }
                        @include sm {
                            max-width: 100%;
                            padding: 0 12px;
                        }

                        .icon {
                            padding-right: 16px;
                        }
                        .text {
                            @include sm {
                                text-align: left;
                            }
                        }
                    }
                }
            }

            .right {
                margin-top: 32px;
                padding-right: 32px;
                @include md {
                    padding: 0 36px;
                }
                form {
                    margin-top: 32px;
                    @include md {
                        margin: 32px 0 86px;
                    }
                    @include sm {
                        margin: 32px 0 146px;
                    }

                    .field {
                        margin-bottom: 32px; 

                        input {
                            background: transparent;
                            outline: none;
                            font-size: 16px;
                            text-align: left;
                            border-width: 0 0 1px;
                            width: 100%;
                            padding-bottom: 14px;
                            font-family: inherit;
                            color: $white;
                        }

                        #message {
                            padding-bottom: 84px;
                        }
                        ::placeholder {
                            color: $pink;
                            opacity: .6;
                        }
                    }

                    .error {
                        color: $pink !important;
                        border: 1px  solid $pink;
                    }


                    .error-message {
                        display: none;
                        color: $pink;
                        font-size: 10px;
                        display: block;
                        padding-top: 8px;
                    }

                    a {
                        .btn {
                            background-color: $white;
                            max-width: 140px;
                            color: $dark-green;
                        }
                    }
                }
            }
        }
    }
}