.hero {
    position: relative;
    background-color: #014E56;
    &:before {
        content: "";
        background-image: url("../assets/images/hero/bg-pattern-home-1.svg");
        position: absolute;
        left: -7.5%;
        top: 35%;
        background-repeat: no-repeat;
        height: 210px;
        width: 220px;
        @include md {
            display: none;
        }
    }

    &:after {
        content: "";
        background-image: url("../assets/images/hero/bg-pattern-home-2.svg");
        position: absolute;
        right: 10%;
        bottom: 0;
        background-repeat: no-repeat;
        height: 100px;
        width: 360px;
        @include md {
            left: 25%;
        }
        @include sm {
            left: 8%;
        }
    }

    .inner {
        .content {
            margin: 130px 0;
            @include md {
                margin: 130px 0 170px;
            }
            .left {
                @include md {
                    margin-bottom: 16px;
                }
            }
            .right {
                &:before {
                    content: "";
                    position: relative;
                    left: 12%;
                    display: block;
                    width: 50px;
                    height: 4px;
                    background: $extra-light-green 0% 0% no-repeat padding-box;
                    @include md {
                        display: none;
                    }
                }
                .copy {
                    padding: 54px 66px;
                    @include md {
                        padding: 24px 56px;
                        text-align: center;
                    }
                    p {
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}