@import "variables";
@import "utilities";
@import "hero";
@import "fonts";
@import "chapters";

html, body {
    margin:0;
    padding:0;
}

* {
    box-sizing:border-box;
}

body {
    font-size: 15px;
    line-height: 25px;
    color: $white;
    font-family: 'Livvic';
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}