@import url('https://fonts.googleapis.com/css?family=Livvic:400,500,600,700&display=swap');
@import "media-queries";
@import "variables";
@import "utilities";
@import "hero";
@import "chapters";
@import "about";
@import "contact";

html, body {
    margin:0;
    padding:0;
}

* {
    box-sizing:border-box;
}

body {
    font-size: 15px;
    line-height: 25px;
    color: $white;
    font-family: 'Livvic';
    // medium is 500, semi-bold is 600
    font-weight: 500;
    background-color: $light-green;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: $pink;
    }
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}